# Virtual Environment
automl_env_310/
venv/
env/
gp/
gp-env/
# Environment Variables (SENSITIVE)
.env

# Python Caches
__pycache__/
*.py[cod]
*$py.class

# Logs and Data
logs/
assets/logs/
# assets/data/

# Machine Learning Artifacts
AutogluonModels/
catboost_info/

# OS Specific
.DS_Store

.env*
.env

*.pyc
*.pyo
*.pyd
*.csv
venv/
.venv/

Output/Preprocessing/*.csv
Output/Preprocessing/best_pipeline.pkl
Output/clean/clean_data_frontend_data.jsonOutput/
assets/logs/
