# Virtual Environment
automl_env_310/
venv/
env/
gp/
gp-env/
# Environment Variables (SENSITIVE)
.env

# Python Caches
__pycache__/
*.py[cod]
*$py.class

# Logs and Data
logs/
assets/logs/
*.log

# logs
assets/logs/
**/*.log
# assets/data/

# Machine Learning Artifacts
AutogluonModels/
catboost_info/

# OS Specific
.DS_Store

.env*
.env

*.pyc
*.pyo
*.pyd
*.csv
venv/
.venv/

output/Preprocessing/*.csv
output/Preprocessing/best_pipeline.pkl
output/clean/clean_data_frontend_data.jsonoutput/
assets/logs/
output/automl/

# API key environment files
.env
.env.*
!.env.example
